{% extends 'login_base.html' %}

{% block content %}
  {% if validlink %}
    <div class="conteiner-botao">
      <h5>Recuperar senha</h5>
      </br>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="input-field">
      <div class=" erro">{{form.new_password1.errors}}</div>
        <label  for="id_email">{{form.new_password1.label}}</label>
        {{ form.new_password1}}
      </div>
      <div class="input-field">
      <div class=" erro">{{form.new_password2.errors}}</div>
        <label for="id_email">{{form.new_password2.label}}</label>
        {{ form.new_password2}}
      </div>
      <div class="conteiner-botao">
        <button  class="btn  green darken-4 z-depth-1" type="submit">Mudar senha</button>
      </div>
    </form>
  {% else %}
    <p>
      O link para alterar a senha está inválido porque ele já foi utilizado.
      Por favor requisite novamente a alteração da senha.
    </p>
  {% endif %}
{% endblock %}