{% extends 'login_base.html' %}

{% block content %}
  {% if validlink %}
    <div class="conteiner-botao">
      <h5>Recuperar senha</h5>
      </br>
    </div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="conteiner-botao">
        <button  class="btn  green darken-4 z-depth-1" type="submit">Mudar senha</button>
      </div>
    </form>
  {% else %}
    <p>
      O link para alterar a senha está inválido porque ele já foi utilizado.
      Por favor requisite novamente a alteração da senha.
    </p>
  {% endif %}
{% endblock %}