{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="row subtitulo2">
            <form id="register-form" method="post" class="col s12"
                  action="{% url 'app.views.cadastroUsuario' %}">
                {% csrf_token %}
                <h4 class="center-align">Cadastro de Usuário</h4>
                <script>
                setorCampus = {{setorCampus|safe}};
                
                function tentaVincularSetorCampusDinamicamente(){
                    console.log(setorCampus);
                    $('#id-setor').find('option').remove();
                    var id_campus = $('#id-campus option:selected').val();
                    var lista_setores_id = setorCampus[id_campus].setores_id;
                    var lista_setores_nomes = setorCampus[id_campus].setores_nome;

                    var cont = 0;
                    for(var setor in lista_setores_id){
                        $('#id-setor').append("<option value="+lista_setores_id[setor]+">"+lista_setores_nomes[cont]+"</option>");
                        cont++;
                    }
                    
                    $('#id-setor').removeAttr("disabled");
                    $('#id-setor').material_select();
                }
                </script>
                <br/>
                <div class="form efeito">
                    {{formUser.as_p}}
                    {{formParcialSetor.as_p}}
                    {{formUsuario.as_p}}
                </div>
                <div class="input-field col s12">
                    <button class="btn right orange darken-4" type="submit">Enviar</button>
                    <input type="hidden" name="next" value="/" />
                </div>

            </form>
        </div>
    </div>
{% endblock content %}