{% extends 'base.html' %}
{% block title %}Meus Levantamentos{% endblock %}
{% block content %}

  <!-- Tap Target Structure -->
  <div data-role="none" id="tap" class="blue tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5 class="white-text">Adicionando novo Formulario</h5>
      <p class="white-text">Click neste botão para criar um novo formulário</p>
    </div>
  </div>


<div class="container">

    <a id="menu" style="margin-top: 30px; margin-right: 0px !important; " href="{% url 'app.views.cadastrar_tipologia' %}" class="btn-floating btn-large red right blue">
      <i class="large material-icons ">add</i>
    </a>

    <div id="MeusLevantamentos" class="row">
    <h4 class="center subtitulo2">Meus Levantamentos</h4>
            <br/>
        <div class="col-lg-8 ">
            <form>
                {% csrf_token %}

                <br/>

                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Levantamento</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipologia in tipologias|dictsort:"fases.nome" %}
                        <tr>
                            <td id="data">{{tipologia.dataEnvio}}</td>
                            <td id="nome">{{ tipologia.nome }}</td>
                            <td id="status">{{tipologia.fases}}</td>
                            <td>
                                {%if tipologia.fases.nome == "Levantamento"%}
                                    <a name=editar" class="btn-floating waves-effect waves-light teal darken-1" href="{% url 'levantamento_edit' pk=tipologia.pk %}">
                                    <i class="material-icons">mode_edit</i>
                                    </a>
                                {%else%}
                                    <a  name="visualizar" class="btn-floating waves-effect waves-light teal darken-1" href="{% url 'levantamento_view' pk=tipologia.pk %}">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                {%endif%}
                                {%if tipologia.resposta%}
                                    <a  name="visualizar" class="btn-floating waves-effect waves-light teal darken-1" href="{% url 'resposta_view' pk=tipologia.pk %}">
                                        <i class="material-icons">email</i>
                                    </a>

                                {%endif%}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            </form>
        </div>
    </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Sobre o Sistema</h4>
      <p>O SLED – Sistema de Levantamento de Documentos foi desenvolvido para que possamos conhecer melhor os documentos institucionais e assim poder dar a eles um tratamento adequado. A metodologia de Levantamento Documental se baseia nas funções arquivísticas de identificação, classificação e avaliação de documentos.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
</div>

{% endblock content %}