{% extends 'base.html' %}
{% block title %}Meus Levantamentos{% endblock %}
{% block content %}
<div class="container">
    <div id="MeusLevantamentos" class="row">
    <h4 class="center subtitulo2">Meus Levantamentos</h4>
            <br/>

        <div class="divider"></div>
        <div class="section"></div>
        <div class="col-lg-8 ">
            <form>
                {% csrf_token %}

                <br/>

                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Levantamento</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipologia in tipologias|dictsort:"fases.nome" %}
                        <tr>
                            <td id="data">{{tipologia.dataEnvio}}</td>
                            <td id="nome">{{ tipologia.nome }}</td>
                            <td id="status">{{tipologia.fases}}</td>
                            <td>
                                {%if tipologia.fases.nome == "Levantamento"%}
                                    <a name=editar" class="btn-floating waves-effect waves-light teal darken-1" href="{% url 'levantamento_edit' pk=tipologia.pk %}">
                                    <i class="material-icons">mode_edit</i>
                                    </a>
                                {%else%}
                                    <a  name="visualizar" class="btn-floating waves-effect waves-light teal darken-1" href="{% url 'levantamento_view' pk=tipologia.pk %}">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                {%endif%}
                                {%if tipologia.resposta%}
                                    <a  name="visualizar" class="btn-floating waves-effect waves-light teal darken-1" href="{% url 'resposta_view' pk=tipologia.pk %}">
                                        <i class="material-icons">email</i>
                                    </a>

                                {%endif%}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>

            <div class="fixed-action-btn" style="bottom: 100px; right: 150px;">
                <a href="{% url 'app.views.cadastrar_tipologia' %}" class="cadastrar btn-floating btn-large waves-effect waves-light orange darken-4">
                    <i class="material-icons">add</i>
                </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}